<form id="registrationForm" action="/registratomFormSubmission"  method="post">
  <div class="display-1 text-light fst-italic">Register</div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4" class="bg-black text-light diplay-3">Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="email">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4" class="bg-black text-light diplay-3">Password</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Password" name="password">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity" class="bg-black text-light diplay-3">Confirm Password</label>
        <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirm password" name="confirmPassword">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>